@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');



*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #222;
    --blue: rgb(78, 140, 221);
    --green: rgb(42, 216, 80);
    --grey1: #f0f0f0;
    --grey2: #d3e5e9;
}


html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
   list-style-type: none; 
}


.container{

    max-width: 180rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.d-flex{
    display: flex;
    align-items: center;
}

.header{
    position: relative;
    min-height: 100vh;
    overflow-x:hidden;
}

.top-nav{
    background-color: var(--blue);
    font-size: 1.3rem;
    color: var(--white);
    
}


.top-nav div{
justify-content: space-between;
height: 4.5rem;
}

.top-nav a{
    padding: 0 1.2rem;
    color: var(--white);
}


.navigation{
    height: 6rem;
    line-height: 6rem;
   
}

.nav-center{
    justify-content: space-between;
}



.nav-center .nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.nav-center .nav-item .nav-link{
    font-size: 1.8rem;
    padding: 1rem;
    cursor: pointer;
}

.nav-center .nav-link:hover{
    color: var(--white);
    background-color: var(--blue);
    transition: 1s ease-in;
  
}

h1{
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
   

}

.icon{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0 1rem;
    color: #222;
    position: relative;
}


.icon:not(:last-child){
    margin-right: 0.5rem;
}

.icon span{
    position: absolute;
    top: 3px;
    right: -3px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    justify-content: center;
}

.nav-list .icons{
    display: none;
}

.nav-center .hamburger{
    display: none;
    font-size: 2.3rem;
    color: var(--black);
    cursor: pointer;
}

@media(max-width: 900px){
.nav-list{
    position: fixed;
    top: 11%;
    left: -100%;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    background-color: white;
    height: 100%;
    max-width: 35rem;
    width: 0;
    z-index: 100;
    transition: all 300ms ease-in-out;
}

.nav-list.open{
    left: 20px;
    width: 100%;
}

.nav-list .nav-item{
    margin: 0 1rem 0;
    width: 100%;
}

.nav-list .nav-link {
    font-size: 2rem;
    color: var(--black);
}

.nav-center .hamburger{
    display: block;
    font-size: 3rem;
}

.icons{
    display: none;
}

.nav-list .icons{
    display: flex;
}

.top-nav ul {
    display: none;
}

.top-nav div{
    justify-content: center;
    height: 3rem;
}
}

/*slider */

.hero, .hero .glide__slides{
    background-color: var(--white);
    position: relative;
    height: calc(100vh-4rem);
    margin: 0 3rem;
    overflow: hidden;
}

.hero .center{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero .left{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(0.5rem);
    z-index: 999;
    padding: 5rem;
}

.hero .left h2{
    font-size: 6rem;
    font-family: 'Otomanopee One', sans-serif;
    margin: 1rem 0;
}

.hero .left p{
    font-size: 3rem;
  
    margin: 0 0 1rem;
}

.hero .left .hero-btn{
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    background-color:var(--blue);
    color: white;
}

.hero .rigth{
   
    height: 100%;
    position: relative;
    text-align: center;
}

.hero .rigth img{
    opacity: 0;
    transition: all 1000ms ease-in-out ;
}

.hero .rigth img.img1{
    width: 100%;     
}

.hero .rigth img.img2{
   
    width: 100%;

       
}

.glide__slide--active .center .rigth img{
    opacity: 1;
}

.glide__slide--active .left{
    opacity: 1;
    top: 35%;
}

@media(max-width: 999px){
    .hero .left h2{
        font-size: 3rem;
    }
    .hero .left p{
        font-size: 1rem;
    }
    .glide__slide--active .left{
        top: 0%;
    }
}

@media(max-width: 450px){
    .glide__slide--active .left{
        top: 1;
        left: 1;
    }
    .hero, .hero .glide__slides{
        height: 100%;
    }
    .hero .left{
    padding: 1rem;
    margin: 2px;
    }
}