@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');



*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #222;
    --blue: rgb(78, 140, 221);
    --green: rgb(42, 216, 80);
    --grey1: #f0f0f0;
    --grey2: #d3e5e9;
}

h2{
    font-family: 'Otomanopee One', sans-serif;
     font-size: 4rem;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
   list-style-type: none; 
}


.container{

    max-width: 180rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.d-flex{
    display: flex;
    align-items: center;
}

.header{
    position: relative;
    
    overflow-x:hidden;
}

.top-nav{
    background-color: var(--blue);
    font-size: 1.3rem;
    color: var(--white);
    
}


.top-nav div{
justify-content: space-between;
height: 4.5rem;
}

.top-nav a{
    padding: 0 1.2rem;
    color: var(--white);
}


.navigation{
    height: 6rem;
    line-height: 6rem;
   
}

.nav-center{
    justify-content: space-between;
}



.nav-center .nav-item:not(:last-child){
    margin-right: 0.5rem;
}

.nav-center .nav-item .nav-link{
    font-size: 1.8rem;
    padding: 1rem;
    cursor: pointer;
}

.nav-center .nav-link:hover{
    color: var(--white);
    background-color: var(--blue);
    transition: 1s ease-in;
  
}

h1{
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
   

}

.icon{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0 1rem;
    color: #222;
    position: relative;
}


.icon:not(:last-child){
    margin-right: 0.5rem;
}

.icon span{
    position: absolute;
    top: 3px;
    right: -3px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
    font-size: 1.3rem;
    height: 2rem;
    width: 2rem;
    justify-content: center;
}

.nav-list .icons{
    display: none;
}

.nav-center .hamburger{
    display: none;
    font-size: 2.3rem;
    color: var(--black);
    cursor: pointer;
}



@media(max-width: 900px){

    .header{
      min-height: 50%;
    }
    .top-nav{
        opacity: 0;
    }
.nav-list{
    position: fixed;
    top: 11%;
    left: -100%;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    background-color: white;
    height: 100%;
    max-width: 35rem;
    width: 0;
    z-index: 100;
    transition: all 300ms ease-in-out;
}

.nav-list.open{
    left: 20px;
    width: 100%;
}

.nav-list .nav-item{
    margin: 0 1rem 0;
    width: 100%;
}

.nav-list .nav-link {
    font-size: 2rem;
    color: var(--black);
}

.nav-center .hamburger{
    display: block;
    font-size: 3rem;
}

.icons{
    display: none;
}

.nav-list .icons{
    display: flex;
}

.top-nav ul {
    display: none;
}

.top-nav div{
    justify-content: center;
    height: 3rem;
}
}


/*slider */

.hero, .hero .glide__slides{
    background-color: var(--white);
    position: relative;
    height: 80%;
    margin: 20px 0 10px 0;
    overflow: hidden;
}

.hero .center{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero .left{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(0.5rem);
    z-index: 999;
    padding: 5rem;
}

.hero .left h2{
    font-size: 6rem;
    font-family: 'Otomanopee One', sans-serif;
    margin: 1rem 0;
}

.hero .left p{
    font-size: 3rem;
  
    margin: 0 0 1rem;
}

.hero .left .hero-btn{
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    background-color:var(--blue);
    color: white;
}

.hero .rigth{
   
    height: 70%;
    width: 100%;
    position: relative;
    text-align: center;
}

.hero .rigth img{
    opacity: 0;
    transition: all 1000ms ease-in-out ;
    box-shadow: 10px 10px 15px silver;
    position: relative;
    max-width: 100%;
    
}



.glide__slide--active .center .rigth img{
    opacity: 1;

}

.glide__slide--active .left{
    opacity: 1;
    top: 35%;
}

@media(max-width: 999px){
    .hero{
       width: 100vh;
    }
    .hero .rigth{
        
        height: 90%;
        
    }
    .hero .left h2{
        font-size: 3rem;
    }
    .hero .left p{
        font-size: 1rem;
    }
    .glide__slide--active .left{
        top: 5;
        
    }
    .hero .hero-btn{
        margin-bottom: 10px;
    }
}

@media(max-width: 450px){
    .glide__slide--active .left{
        top: 10;
        left: 10;
    }
    .hero, .hero .glide__slides{
        height: 100%;
    }
    .hero .left{
        position: absolute;
        top: 2rem;
    padding: 3rem;
    margin: 5px;
    }
}

/* category*/
.section{
   
    overflow: hidden;
  

    
}
.cat-center{
    display: flex;
    align-items: center;
    justify-content: center;
  
  
  
    
   
}
.cat-center .cat{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    padding: 50px;
   
   
}

.cat-center .cat img{
    width: 100%;
   height: 100%;
   box-shadow: 10px 10px 15px silver;
  
}

.cat-center .cat img:hover{
    transform: scale(1.1);
    transition: 400ms ease-in-out;
}


.cat-center .cat div{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(0.5rem);
    width: 25rem;
    height: 5rem;
    color: var(--black);
   padding-top: 10px;
   font-size: 2rem;
   
   font-family: 'Otomanopee One', sans-serif;
}

@media(max-width:600px){
     .cat-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -100px;
       
     }

    
     .cat-center .cat img{
         position: relative;
         max-width: 100%;
         
     }
}

@media(max-width:1450px){
    .cat-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
     
        
     }
     .cat-center .cat img{
        height: 100%;
        margin: auto;
     }
}

/* New Arrival*/

.title{
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
}




.product-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.product-item{
    position: relative;
    margin: 1rem;
    
}

.product-thumb{
    object-fit: cover;
    transition: all 500ms linear;
}


.product-info{
    padding: 1rem;
    text-align: center;

}
.product-info span{
    display: inline-block;
    font-size: 2rem;
    font-family: 'Otomanopee One', sans-serif;
}
.product-info a{
    display:block;
    font-size: 1.5rem;
    transition: all 300ms linear;
    color: var(--blue);
   
}

.product-info a:hover{
    transform: scale(1.1);
}

.product-item .icons{
    position: absolute;
    left: 50%;
    top: 35%;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
   
}

.product-item .icons li{
    background-color: rgba(255,255,255,0.5); 
    text-align: center;
    padding: 1rem 1.5rem;
    font-size: 2.3rem;
    cursor: pointer;
    transition: 300ms ease-in-out;
    transform: translateY(20px);
    visibility: hidden;
    opacity: 0;
    margin: 5px;
    
}

.product-item .icons li:first-child{
    transition-delay: 0.1s;
}

.product-item .icons li:nth-child(2){
    transition-delay: 0.3s;
}

.product-item .icons li:nth-child(3){
    transition-delay: 0.5s;
}

.product-item:hover{
    background-color: rgba(78, 140, 221, 0.4);
    transition: 300ms ease;
}

.product-item:hover .icons li{

    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

.product-item .icons li:hover{
    background-color: rgba(78, 140, 221, 0.8);
    color: white;
    transition: 200ms  ease-in-out;
    transform: scale(1.1);
}

.product-item:hover .product-thumb img{
    transform: scale(1.1);
    transition: 500ms linear;
}




/*banner*/

.banner{
    position: relative;
    background-color: rgba(78, 140, 221, 0.4);
    padding: 10rem;
    height: 40vh;
    margin-top: 50px;
    text-align: center;
}

.banner .rigth{
    position: absolute;
    bottom: 0;
    width: 80rem;
    right: 300px;
   
    
}

.banner .left{
   
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.2rem);
    padding: 100px;
    z-index: 999;
   
}
.banner .trend, .banner p{
    display: block;
    font-size: 2rem;
    margin-bottom: 40px;
    

}

.banner .btn{
    position: relative;
    margin-top: 20px;
    background-color: var(--blue);
    color: var(--white);
    padding: 15px 20px;
}

@media(max-width: 900px ){
    .banner .rigth{
        right: 100px
    }

    .banner h2{
        font-size: 2.5rem;
    }

    .banner{
        padding: 5rem;
        height: 80vh;
    }
    .banner .left {
       
        margin-top: 8rem;

    }
   
}


@media(max-width: 600px){
    .banner .left {
       
        margin-top: 4rem;
        padding: 10px;

    }

    .banner .rigth{
        right: 0;
    }
}